@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Not like the dope your parents smoked in the 70's. More like that Snoop Dogg I can't feel my legs dope.</p>
