@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    420 Somewhere<br />
    Denver, Co 80201<br />
    <abbr title="Digits">Digits</abbr>
    867.5309
</address>

<address>
    <strong>Support:</strong> <a href="mailto:crghicks@hotmail.com">email-a-mug</a><br />
</address>
